/* Global CSS */

body { background-color:#fff; padding:0; margin:0;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

/* Controlling the slide effect */

#menu {
    display: none;
}

#menu.active {

}

.menu-link {

}

.container {

}

.container.active {

}

/* Slider effect - save for last and will be shown in class */


/* Styling */

/* MENU - Global */

li.current, li.current a, li.current a:active {  }

a {

  }

ul { 

}


#transparent_layer { height:25px; background-color:transparent; width:35px; position:relative; top:-10px } /*Click area for invisible field for mobile menu*/

#menu-link-icon, #menu-link-icon:after, #menu-link-icon:before {
     position:absolute;
     width:35px;
     height:5px;
     background:black;
     border-radius:20px;
}
#menu-link-icon {
     display:block;
     text-indent:-999em;
     top:25px;
}
#menu-link-icon:after, #menu-link-icon:before {
     content:"\00a0";
     left:0;
}
#menu-link-icon:before {
     top:-10px;
}
#menu-link-icon:after {
     top:10px;
}

/* MENU - Desktop */

#desktop_menu {
    width: 100%;
    height: 97px;
    background: #373c3f;
}
#desktop_menu ul {
}
#desktop_menu li {
}
#desktop_menu li a {
}
#desktop_menu li + li {
}


/* MENU - mobile */

nav#menu { }
nav#menu ul { }
nav#menu li {  }
nav#menu li a {   }
nav#menu li:hover {  }
nav#menu li a:hover, #desktop_menu li a:hover {   }
nav#menu li a:active, #desktop_menu li a:active {  }

/* Top area CSS */

.top {  }

/* Banner area CSS */
.banner h2 {
    margin: 0;
    padding-left: 82px;
    padding-top: 205px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: white;
}
.banner h3 {
    margin: 0;
    padding-left: 82px;
    padding-top: 52px;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    color: white;
    opacity: 0.5;
    float:left;
}

.banner img {
    padding-top: 49px;
    padding-left:320px;
}
#banner_click {   }
.banner {
    width: 100%;
    height: 578px;
    background: #28b9ca;
    background: -moz-linear-gradient(-45deg,  #28b9ca 0%, #0e8da6 100%);
    background: -webkit-linear-gradient(-45deg,  #28b9ca 0%,#0e8da6 100%);
    background: linear-gradient(135deg,  #28b9ca 0%,#0e8da6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b9ca', endColorstr='#0e8da6',GradientType=1 );
}

/* Info area CSS */

.info_box {   }
.info_left {
    float:left;
    width: 77.7343%;
    color: #fff;
    height: 245px;
    display:-ms-flexbox;
    -ms-flex-pack:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack:center;
    box-align:center;
    background: #27212c;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #9282a0;
}

.info_right {
    width: 22.265625%;
    height: 245px;
    background: #bc3183;
    float: left;
    display:-ms-flexbox;
    -ms-flex-pack:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack:center;
    box-align:center;
}

/* Three_box area CSS */

.three_box {  }

.three_left {
    width: 33.33333333333%;
    height: 294px;
    background: #5b0fa1;
    float: left;
    display:-ms-flexbox;
    -ms-flex-pack:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack:center;
    box-align:center;
}
.three_mid {
    width: 33.33333333333%;
    height: 294px;
    background-image: url("../media/bridge.jpg");
    background-size:  100% 100%;
    float: left;
}
.three_mid img, .three_right img {  }

.three_right {
    width: 33.33333333333%;
    height: 294px;
    background-image: url("../media/woman.jpg");
    background-size:  100% 100%;
    float: left;
}

/* Footer area CSS */

.footer {
    width: 100%;
    height: 563px;
    background: #ebebeb;
    float: left;
}
.footer_text {
}
.footer h2 {   }
.footer p {   }


/* Media Query section */ 
@media all and (max-width: 480px) {
   
    .top  {   }
   
    #menu {
        display: block;
    }
    nav#desktop_menu {

    }

    .banner {   }
    .banner_toptext {  }
    .banner h2 {  }
    .banner h3 {  }
    #banner_click {  }
    
    .info_box, .info_left, .info_right {   }
    .info_left {   }
    .info_right {   }
    
    .three_left { }
    .three_mid {   }
    .three_right {  }
        
    .footer_text {   }
}


@media all and (min-width: 1024px) {


}

