/* Global CSS */

body { background-color:#fff; padding:0; margin:0;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #ebebeb;

}

/* Controlling the slide effect */

#menu {
    display: none;
}

#menu.active {

}

.menu-link {

}

.container {

}

.container.active {

}

/* Slider effect - save for last and will be shown in class */


/* Styling */

/* MENU - Global */

li.current, li.current a, li.current a:active {  }

a {

  }

ul { 

}


#transparent_layer { height:25px; background-color:transparent; width:35px; position:relative; top:-10px } /*Click area for invisible field for mobile menu*/

#menu-link-icon, #menu-link-icon:after, #menu-link-icon:before {
     position:absolute;
     width:35px;
     height:5px;
     background:black;
     border-radius:20px;
}
#menu-link-icon {
     display:block;
     text-indent:-999em;
     top:25px;
}
#menu-link-icon:after, #menu-link-icon:before {
     content:"\00a0";
     left:0;
}
#menu-link-icon:before {
     top:-10px;
}
#menu-link-icon:after {
     top:10px;
}

/* MENU - Desktop */

#desktop_menu {
    width: 100%;
    height: 97px;
    background: #373c3f;
}
#desktop_menu ul {
}
#desktop_menu li {
}
#desktop_menu li a {
}
#desktop_menu li + li {
}


/* MENU - mobile */

nav#menu { }
nav#menu ul { }
nav#menu li {  }
nav#menu li a {   }
nav#menu li:hover {  }
nav#menu li a:hover, #desktop_menu li a:hover {   }
nav#menu li a:active, #desktop_menu li a:active {  }

/* Top area CSS */

.top {  }

/* Banner area CSS */
.banner h2 {
    margin: 0;
    padding-left: 82px;
    padding-top: 205px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: white;
}
.banner h3 {
    margin: 0;
    padding-left: 82px;
    padding-top: 52px;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    color: white;
    opacity: 0.5;
    float:left;
}

#banner_click {   }
.banner {
    width: 100%;
    height: 578px;
    background: #28b9ca;
    background: -moz-linear-gradient(-45deg,  #28b9ca 0%, #0e8da6 100%);
    background: -webkit-linear-gradient(-45deg,  #28b9ca 0%,#0e8da6 100%);
    background: linear-gradient(135deg,  #28b9ca 0%,#0e8da6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b9ca', endColorstr='#0e8da6',GradientType=1 );
}

/* Info area CSS */

.info_box {   }
.info_left {
    float:left;
    width: 77.7343%;
    color: #fff;
    height: 245px;
    display:-ms-flexbox;
    -ms-flex-pack:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack:center;
    box-align:center;
    background: #27212c;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #9282a0;
}

.info_right {
    width: 22.265625%;
    height: 245px;
    background: #bc3183;
    float: left;
    display:-ms-flexbox;
    -ms-flex-pack:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack:center;
    box-align:center;
}

/* Three_box area CSS */

.three_box {  }

.three_left {
    width: 33.33333333333%;
    height: 294px;
    background: #5b0fa1;
    float: left;
    display:-ms-flexbox;
    -ms-flex-pack:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack:center;
    box-align:center;
}
.three_mid {
    width: 33.33333333333%;
    height: 294px;
    background-image: url("../media/bridge.jpg");
    background-size:  100% 100%;
    float: left;
}
.three_mid img, .three_right img {  }

.three_right {
    width: 33.33333333333%;
    height: 294px;
    background-image: url("../media/woman.jpg");
    background-size:  100% 100%;
    float: left;
}

/* Footer area CSS */

.footer {
    width: 100%;
    height: 563px;
    float: left;
}
.footer_text_collumn1 {
    width: 40.13671875%;
    margin-top: 32px;
    margin-left: 8.0078125%;
    height:50px;
    float: left;
}

.footer_text_collumn2 {
    height: 50px;
    width: 40.13671875%;
    margin-top: 32px;
    margin-left: 4.98046875%;
    float: left;
}


.footer h2 {
    margin-top: 56px;
    margin-left: 8.0078125%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #088ca5;
}
.footer p {
    color: #515151;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 26px;

}

.banner_arrow {
    height:55px;
    padding-top: 49px;
    padding-left:320px;
}

.info_right_arrow {
    height: 84px;
}

.three_left_arrow {
    height:55px;
}


/* Media Query section */ 
@media all and (max-width: 480px) {
   
    .top  {   }

    #menu {  display:block; /* Show menu below some resolution */ }
    nav#desktop_menu { display:none; }

    .banner {   }
    .banner_toptext {  }
    .banner h2 {  }
    .banner h3 {  }
    #banner_click {  }
    
    .info_box, .info_left, .info_right {   }
    .info_left {   }
    .info_right {   }
    
    .three_left { }
    .three_mid {   }
    .three_right {  }
        
    .footer_text {   }
}


@media all and (max-width: 640px) {

    .banner h2 {
        font-size: 27px;
        padding-top: 118px;
    }

    .banner h3 {
        font-size: 18px;
        padding-top: 32px;
    }

    .banner {
        height: 349px;
    }

    .banner_arrow {
        height:35px;
        padding-top: 25px;
        padding-left:105px;
    }


    .info_left {
        font-size: 17px;
        height: 152px;
    }
    .info_right {
        font-size: 17px;
        height: 152px;
    }

    .info_right_arrow {
        height: 59px;
    }

    .three_left_arrow {
        height:99px;
    }

    .three_left {
        width: 100%;
        height: 552px;
    }

    .three_mid {
        width: 100%;
        height: 552px;
    }

    .three_right {
        width: 100%;
        height: 552px;
    }

    .footer_text_collumn1 {
        width:76.875%;
        height: 100%;
        margin-left: 11.5625%;
        margin-top: 5px;

    }

    .footer_text_collumn2 {
        width: 76.875%;
        height: 100%;
        margin-left:11.5625%;
        margin-top: 30px;
    }

    .footer {
        height: 100%;
    }

    .footer h2 {
        margin-left:11.5625%;
    }

}



li.current, li.current a, li.current a:active { color: #77aa99; }

a { color:#aaa;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

ul {
    height:100%; padding: 0; margin: 0;
}



#menu-link-icon, #menu-link-icon:after, #menu-link-icon:before {
    position:absolute;
    width:35px;
    height:5px;
    background:black;
    border-radius:20px;
}
#menu-link-icon {
    display:block;
    text-indent:-999em;
    top:25px;
}
#menu-link-icon:after, #menu-link-icon:before {
    content:"\00a0";
    left:0;
}
#menu-link-icon:before {
    top:-10px;
}
#menu-link-icon:after {
    top:10px;
}

/* MENU - Desktop */

#desktop_menu {  }
#desktop_menu ul { padding:40px 0 40px 20px; }
#desktop_menu li {  text-decoration: none; display: inline-block; padding: 0; }
#desktop_menu li a {  padding:40px 10px 0 10px; }
#desktop_menu li + li { border-left: 1px solid #ddd;}


/* MENU - mobile */

nav#menu { background-color: #eee; }
nav#menu ul { padding: 0 ;}
nav#menu li { text-decoration: none; display: block;  border-bottom: 1px solid #fff; }
nav#menu li a { display: block; padding: 20px 10px 20px 30px; border-bottom: 1px solid #ccc; /* text-shadow: 0px 1px 1px #fff; */ }
nav#menu li:hover { background-color:#777;}
nav#menu li a:hover, #desktop_menu li a:hover { color: #fff; }
nav#menu li a:active, #desktop_menu li a:active { color: #99bbaa; }