body {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
}


.box_one_sixth {
    width: 150px;
    margin-right: 20px;
    height: 40px;
    float:left;
    background: blue;
    margin-bottom: 10px;

}

.box_one_sixth:last-child {
    margin-right: 0;
}

.box_one_third {
    width: 320px;
    margin-right: 20px;
    height: 40px;
    float:left;
    background: blue;
    margin-bottom: 10px;

}

.box_one_third:last-child {
    margin-right: 0;
}


.box_one_second {
    width: 490px;
    margin-right: 20px;
    height: 40px;
    float:left;
    background: blue;
    margin-bottom: 10px;

}

.box_one_second:last-child {
    margin-right: 0;
}

.box_one {
    width: 1000px;
    height: 40px;
    float:left;
    background: blue;
    margin-bottom: 10px;

}

.box_fifth_sixth {
    width: 830px;
    margin-right: 20px;
    height: 40px;
    float:left;
    background: blue;
    margin-bottom: 10px;

}

.box_fifth_sixth:last-child {
    margin-right: 0;
}

.box_four_sixth {
    width: 660px;
    margin-right: 20px;
    height: 40px;
    float:left;
    background: blue;
    margin-bottom: 10px;

}

.box_four_sixth:last-child {
    margin-right: 0;
}


@media (max-width: 1000px) {
    [class*="box_"]{width:100%;}
}